@* chatRoom Template File *@
@import play.mvc.Http.RequestHeader
@(implicit request: RequestHeader)

@main("Ugnes chat ^^") {
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary" style="border-color: #9E83EB;">
                <div class="panel-heading" id="accordion" style="background-color: #9E83EB; border-color: #9E83EB;">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
		            <script id="user-message" type="template">	
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/{{color}}/fff&text={{initial}}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{username}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{time}}</small>
                                </div>
                                <p>{{message}}</p>
                            </div>
                        </li>			
					</script> 
		            <script id="my-message" type="template">	
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/{{color}}/fff&text={{initial}}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{time}}</small>
                                    <strong class="pull-right primary-font">{{username}}</strong>
                                </div>
                                <p>{{message}}</p>
                            </div>
                        </li>			
					</script> 
		            <script id="system-user-message" type="template">	
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{system_message}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{time}}</small>
                                </div>
                            </div>
                        </li>			
					</script> 
		            <script id="system-my-message" type="template">	
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{time}}</small>
                                    <strong class="pull-right primary-font">{{system_message}}</strong>
                                </div>
                            </div>
                        </li>			
					</script> 
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Your username..." />
                        <span class="my-colorpicker input-group-btn">
						    <input id="color" value="#eb83da" type="text" style="display:none;"/>
						    <span class="input-group-addon" style="border-radius: 0px;"><i></i></span>
						</span>
                        <span class="input-group-btn">
                            <button class="btn btn-sm login">
                                Login</button>
                        </span>
                    </div>
						<script>
						    $(function(){
						        $('.my-colorpicker').colorpicker();
						    });
						</script>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


}
